@import url("../index.uss");

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.characters-container {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}

.character-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}