@import url("../index.uss");

.container {
    width: 100%;
}

.achievements-container {
    padding: 8px;
    width: 100%;
}

.achievement-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
}