@import url("../index.uss");

.container {
    width: 100%;
}

.audio-switches {
    display: flex;
    flex-direction: row;
}

.audio-switch {
    display: flex;
    flex-direction: row;
}

.settings-panel {
    padding: 8px;
    height: 180px;
    overflow: scroll;
}

.setting-container {
    min-height: 40px;
}

.unity-base-field__input {
    padding: 4px 12px;
}

.unity-radio-button-group {
    display: flex;
    flex-direction: column;
}

.unity-radio-button-group__container {
    display: flex;
    flex-direction: row;
}
