@import url("../index.uss");

.container {
    width: 100%;
}

.unity-radio-button-group {
    display: flex;
    flex-direction: column;
}

.unity-radio-button-group__container {
    display: flex;
    flex-direction: row;
}
