@import url("../index.uss");

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.store-panels-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 320px;
    overflow: scroll;
}

.buttons-container {
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.store-panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

.panel-name-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
}

.panel-items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.store-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    min-width: 60px;
    min-height: 60px;
    margin: 2px;
    border-width: 1px;
    border-radius: 1px;
    overflow: hidden;
}

.item-background-image {
    background-size: contain;
    scale: 5;
    width: 200%;
    height: 200%;
    -unity-background-scale-mode: scale-and-crop;
}

.item-lock-image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 50%;
    height: 50%;
    
    --unity-image: url("/Assets/Art/Textures/UI/Lock.png");
}

.item-price-wrapper {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    height: 100%;
}

.item-price {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 2px 2px 0 0;
    padding: 2px 5px 0 5px;
    background-color: rgba(0, 0, 0, 0.51);
}

.item-price-coin {
    --unity-image: url("/Assets/Art/Textures/UI/Coin.png");
    margin-right: 2px;
}

.item-price-text {
    padding: 0;
}

.item-selected-image {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    --unity-image: url("/Assets/Art/Textures/UI/Selected.png");

    height: 50%;
    width: 85%;
}