:root {
    --main-text-color: #f5f5f5;
    --font-main: url("project:/Assets/Resources/Fonts/Hardpixel.otf");

    font-size: 12px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    color: var(--main-text-color);
    -unity-font-definition: var(--font-main);
}

.styled-panel {
    background-image: url("/Assets/Art/Textures/UI/Panel.png");
    padding-bottom: 4px;
    overflow: visible;
}

.styled-panel .transparent {
    background-image: url("/Assets/Art/Textures/UI/Panel-transparent.png");
}

Label {
    margin: 0;
    text-shadow: 0.5px 0.5px 1px #000000;
    -unity-font-definition: var(--font-main);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.unity-base-field__label {
    color: var(--main-text-color);
}

.unity-toggle {
    background-image: url("/Assets/Art/Textures/UI/CheckboxButton.png#Base");
}

.unity-toggle__checkmark {
    display: flex;
    background-image: none;
    background-color: transparent;
    border-width: 0;
    margin-right: 2.5px;
}

.unity-toggle__input {
    display: flex;
    align-items: flex-end;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

.unity-toggle__text {
    padding-right: 8px;
    padding-left: 16px;
}

.unity-toggle:checked #unity-checkmark {
    background-image: url("/Assets/Art/Textures/UI/CheckmarkIcon.png");
    -unity-background-image-tint-color: greenyellow;
    -unity-background-scale-mode: scale-to-fit;
}

.unity-toggle:hover {
    background-image: url("/Assets/Art/Textures/UI/CheckboxButton.png#Hover");
}

.unity-toggle:active {
    background-image: url("/Assets/Art/Textures/UI/CheckboxButton.png#Press");
}

.unity-button {
    background-color: transparent;
    border-width: 0;
    text-shadow: 0.25px 0.25px 1px #5b5b5b;
    background-image: url("/Assets/Art/Textures/UI/Button.png#Base");
    height: auto;
    width: auto;
}

.unity-button:hover {
    background-image: url("/Assets/Art/Textures/UI/Button.png#Hover");
}

.unity-button:active {
    background-image: url("/Assets/Art/Textures/UI/Button.png#Press");
}

.unity-radio-button .unity-radio-button__input{
    background-image: url("/Assets/Art/Textures/UI/Button.png#Base");
}
.unity-radio-button:hover  .unity-radio-button__input{
    background-image: url("/Assets/Art/Textures/UI/Button.png#Hover");
}

.unity-radio-button:checked .unity-radio-button__input{
    background-image: url("/Assets/Art/Textures/UI/Button.png#Press");
}

.unity-radio-button__checkmark-background {
    display: none;
}

.unity-group-box {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

.money-container {
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: row;
    right: 0;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.money-icon {
    background-image: url("/Assets/Art/Textures/UI/Coin.png");
    width: 10px;
    height: 10px;
    margin-right: 4px;
}