@import url("index.uss");

.container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

.countdown-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.countdown-text {
    color: white;
    font-size: 48px;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    height: auto;
    min-height: 36px;
}