@import url("index.uss");

.unity-toggle__checkmark {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

.unity-button {
    background-color: transparent;
    background-image: none;
    border-width: 0;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.countdown-container {
    height: 100%;
    width: 100%;
}

.countdown-text {
    color: white;
    font-size: 48px; 
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.randomize-btn {
    width: 30%;
    background-size: contain;
    background-image: url("/Assets/Art/Textures/UI/Button.png#Button_0");
}

.ready-toggle {
    width: 30%;
    --checkmark-icon: none;
    background-size: contain;
    background-image: url("/Assets/Art/Textures/UI/CheckboxButton.png#Main");
}